<form action="/users" accept-charset="UTF-8" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label for="username">Username</label><br>
    <input type="text" name="user[username]" id="username">
  </div>

  <div>
    <label for="email">Email</label><br>
    <input type="email" name="user[email]" id="email"></textarea>
  </div>

    <div>
    <label for="password">Password</label><br>
    <input type="password" name="user[passworddd]" id="password"></textarea>
  </div>

  <div>
    <input type="submit" name="commit" value="Create Article" data-disable-with="Create Article">
  </div>
</form>
